//wideScreens
@include mediaXl {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
  .skills {
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;

    img {
      border-radius: 30%;
      width: 11rem;
      height: 11rem;
    }
  }
}

//LargeScreens
@include mediaLg {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
  .skills {
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;

    img {
      border-radius: 30%;
      width: 11rem;
      height: 11rem;
    }
  }
}

//mediumScreens--tablets etc.
@include mediaMd {
  nav .navbar {
    width: 90%;
  }

  nav .navbar .menu1 {
    position: fixed;
    left: -100%;
    top: 0;
    background: darken($ref-color, 15);
    height: 100vh;
    max-width: 400px;
    width: 100%;
    padding-top: 60px;
    flex-direction: column;
    align-items: center;
    @include easeOut();
  }

  .navbar.active .menu1 {
    left: 0;
  }

  nav .navbar .menu1 a {
    font-size: 23px;
    display: block;
    color: #fff;
    margin: 10px 0;
  }

  nav.sticky .menu1 .a:hover {
    color: $secondary-color;
  }

  nav .navbar .media-icons {
    display: none;
  }

  nav .menu-btn,
  .navbar .menu1 .cancel-btn {
    display: block;
    opacity: 1;
  }

  .home_nav,
  .about_nav,
  .projects_nav,
  .contact_nav,
  .skills_nav {
    align-items: center;
    text-align: center;
    width: 100%;

    .lg-heading {
      text-align: center;
      line-height: 1;
      margin-bottom: 1rem;
      font-size: 75px;
    }
  }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .about-info .upper-about-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .about-info .bio {
    font-size: 1.25rem;
  }

  .about-info .experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .about-info .experience .experience-menu {
    height: 25%;
    margin-left: 0;
    width: auto;
  }

  .about-info .experience .experience-desc {
    height: 50%;
    width: auto;
    margin-left: 0;
  }

  .about-info .experience .experience-resume {
    height: 75%;
    width: auto;
    justify-items: center;
    align-items: center;
    text-align: center;
    padding-left: 4rem;
    padding-top: 0.5rem;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }

  .skills {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;

    img {
      border-radius: 30%;
      width: 8rem;
      height: 8rem;
    }
  }

  .boxes div {
    font-size: 1.5rem;
  }
}

//smallScreens-- smartphones etc.
@include mediaSm {
  .home_nav,
  .about_nav,
  .projects_nav,
  .contact_nav,
  .skills_nav {
    align-items: center;
    text-align: center;
    width: 100%;

    .home_nav .home-content .lg-heading {
      text-align: center;
      line-height: 1;
      margin-bottom: 1rem;
      font-size: 35px;
    }
    .lg-heading {
      text-align: center;
      line-height: 1;
      margin-bottom: 1rem;
      font-size: 55px;
    }
  }

  nav .menu-btn,
  .navbar .menu1 .cancel-btn {
    display: block;
    opacity: 1;
  }

  .projects {
    grid-template-columns: repeat(1, 1fr);
  }
  .skills {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;

    img {
      border-radius: 30%;
      width: 6rem;
      height: 6rem;
    }
  }
}
